
Chapter 1: Introduction to Pandas

Date: 2025.01.14

Author: Jiyun Nam

Credit: codecademy

Learning Outcome
- Create a table from scratch
- Loading data from another file
- Selecting certain rows or columns of a table

1. Importing Pandas Modle

In [32]:
import pandas as pd

2. DataFrame 
- An object that stores data as rows and columns
- Able to manually create DataFrame and fill with data. 
- Can contain many different data types: strings, ints, foats, tuples, etc 

- pd.DataFrame() 
- Each key: column name
- Each value: list of column values

In [33]:
# Insert Data by Columns
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name' : ['t-shirt', 't-shirt', 'skirt', 'skirt'],
  'Color' : ['blue', 'green', 'red', 'black']
})

print(df1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black

In [34]:
# Insert Data by Rows
df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
  'Store ID', 'Location', 'Number of Employees'
  ])

print(df2)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

3. Comma Seperated Values (CSV) 

column1, column2, column3

value1, value2, value3

name,cake_flavor,frosting_flavor,topping

Chocolate Cake,chocolate,chocolate,chocolate shavings

Birthday Cake,vanilla,vanilla,rainbow sprinkles

Carrot Cake,carrot,cream cheese,almonds

In [54]:
import os
print("현재 작업 디렉토리:", os.getcwd())

현재 작업 디렉토리: /Users/yun/Library/Application Support/Code/User/globalStorage/github.remotehub/03c7d4277cc66ff58aee50978f01bf92/changestore/vscode-vfs-github/jnam4/jnam4