Chapter 3: Modyfing Dataframe

Date: 2025.01.15

Author: Jiyun Nam

Credit: codecademy

Learning Outcome
- Adding columns to a DataFrame

0. Import modules and read csv

In [14]:
import pandas as pd
df = pd.read_csv('/Users/yun/Desktop/shoefly_messy_orders.csv')

In [15]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

1. Adding a Column -1

- dataframe['column'] = [a,b,c,d]

In [4]:
df['Sold in Bulk?'] = ['Yes', 'Yes', 'No', 'No']
print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

2. Adding a Column-2

- dataframe['column'] = 'a' 
- Put 'a' for all rows in column

In [8]:
df['Is taxed?'] = 'Yes'
print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?
0       Yes
1       Yes
2       Yes
3       Yes


3. Adding a Column-3
- dataframe['column'] = dataframe.column * ___

In [10]:
df['Margin'] = df['Price'] - df['Cost to Manufacture']
print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?  Margin
0       Yes    0.25
1       Yes    0.15
2       Yes    2.50
3       Yes    0.50

4. Performing Column Operations 
- apply function in the same column
- dataframe['Column'] = dataframe.column.apply(__)
- str.lower 
- str.upper

In [13]:
jo = pd.read_csv('/Users/yun/Desktop/jo.csv')

jo['Lowercase Name'] = jo.Name.apply(str.lower)
print(jo)

         Name                 Email Lowercase Name
0  JOHN SMITH  john.smith@gmail.com     john smith
1    JANE DOE        jdoe@yahoo.com       jane doe
2   JOE SCHMO  joeschmo@hotmail.com      joe schmo