Chapter 3: Review: Lambda Function

Date: 2025.01.15

Author: Jiyun Nam

Credit: codecademy

Learning Outcome
- Using lambda functions to calculate complex quantities
- Renaming columns

In [1]:
import pandas as pd

1. Reviewing Lambda Function

In [2]:
# create a lambda function 'mylambda' 
# returns the first an last letter of a string, assuming the string at least 2 charaters. 


mylambda = lambda x: x[0] + x[-1]
print(mylambda('This is a string'))

Tg

2. Reviewing Lambda Function - If statement

In [9]:
#python
def mylambda(age):
    if age >= 13:
        return "Welcome to the BattleCity!"
    else:
        return "You must be 13 or older"

print(mylambda(5))

You must be 13 or older

In [11]:
#lambda
mylambda = lambda x: 'Welcome to the BattleCity!' if x >= 13 \
else "You must be 13 or older"

print(mylambda(14))

Welcome to the BattleCity!

3. Appying a Lambda to a Column
- function = lambda x: x
- dataframe['new column'] = dataframe.old_column.apply(function)

In [23]:
import pandas as pd
df = pd.read_csv('/Users/yun/Desktop/employee.csv')

print(df)

       id               name  hourly_wage  hours_worked
0   10310      Lauren Durham           19            43
1   18656      Grace Sellers           17            40
2   61254  Shirley Rasmussen           16            30
3   16886        Brian Rojas           18            47
4   89010    Samantha Mosley           11            38
5   87246       Louis Guzman           14            39
6   20578     Denise Mcclure           15            40
7   12869      James Raymond           15            32
8   53461       Noah Collier           18            35
9   14746    Donna Frederick           20            41
10  71127       Shirley Beck           14            32
11  92522    Christina Kelly            8            44
12  22447        Brian Noble           11            39
13  61654          Randy Key           16            38
14  16988      Diana Stewart           14            48
15  68619       Timothy Sosa           14            42
16  59949      Betty Skinner           11            48
17  81418      Janet Maxwell           12            38
18  27267   Madison Johnston           20            37
19  19985   Virginia Nichols           13            49

In [25]:
#example. name = Lauren Durham 
#divide into 'Lauren' 'Durham' by splitting in ' '
get_last_name = lambda name: name.split(' ')[-1]

#adding to new column 
df['last_name'] = df.name.apply(get_last_name)

print(df)

       id               name  hourly_wage  hours_worked  last_name
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols


4. Applying a Lambda to a row 

- lambda row
- df.apply(___, axis = 1)


-     axis=0 (default)
- Operates along the rows, column by column (vertical operations).
-     axis=1
- Operates along the columns, row by row (horizontal operations).
- Ensures that the lambda function processes each row individually

The axis=1 argument in the df.apply() function specifies that the operation should be applied row-wise across the DataFrame.

In [26]:
# hour worked > 40, needs to be paid overitme 
# 43 hours worked > 40, 100*regular hours + 45*overtime

In [39]:
total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) \
    if row.hours_worked > 40 \
    else row.hourly_wage * row.hours_worked 


df['total_earned'] = df.apply(total_earned, axis = 1)
print(df)

       id               name  hourly_wage  hours_worked  last_name  \
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols

    total_earned
0          845.5
1          680.0
2          480.0
3          909.0
4          418.0
5          546.0
6          600.0
7          480.0
8          630.0
9          830.0
10         448.0
11         368.0
12         429.0
13         608.0
14         728.0
15         602.0
16         572.0
17         456.0
18         740.0
19         695.5