Chapter 3: Review: Dataframe Columns

Date: 2025.01.15

Author: Jiyun Nam

Credit: codecademy

Learning Outcome
- Renaming columns

In [1]:
import pandas as pd

1. Renaming Columns-1

- df.column_name rather than df['column name']
- df.columns = ['a', 'b', 'c', ...]

In [2]:
df = pd.read_csv('/Users/yun/Desktop/imdb.csv')
print(df)

      id                                       name   genre  year  imdb_rating
0      1                                     Avatar  action  2009          7.9
1      2                             Jurassic World  action  2015          7.3
2      3                               The Avengers  action  2012          8.1
3      4                            The Dark Knight  action  2008          9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
..   ...                                        ...     ...   ...          ...
215  216                                   Hannibal   drama  2001          6.7
216  217                        Catch Me If You Can   drama  2002          8.0
217  218                                  Big Daddy   drama  1999          6.4
218  219                                      Se7en   drama  1995          8.6
219  220                                      Seven   drama  1979          6.1

[220 rows x 5 columns]

In [3]:
df.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']
print(df)

      ID                                      Title Category  Year Released  \
0      1                                     Avatar   action           2009
1      2                             Jurassic World   action           2015
2      3                               The Avengers   action           2012
3      4                            The Dark Knight   action           2008
4      5  Star Wars: Episode I - The Phantom Menace   action           1999
..   ...                                        ...      ...            ...
215  216                                   Hannibal    drama           2001
216  217                        Catch Me If You Can    drama           2002
217  218                                  Big Daddy    drama           1999
218  219                                      Se7en    drama           1995
219  220                                      Seven    drama           1979

     Rating
0       7.9
1       7.3
2       8.1
3       9.0
4       6.6
..      ...
215     6.7
216     8.0
217     6.4
218     8.6
219     6.1

[220 rows x 5 columns]

2. Reanming Columns-2
- dataframe.rename(columns = {'old column': 'new column'}, inplace=True)

In [5]:
df.rename(columns = {'Title':'Movie_Title'}, inplace=True)
print(df)

      ID                                Movie_Title Category  Year Released  \
0      1                                     Avatar   action           2009
1      2                             Jurassic World   action           2015
2      3                               The Avengers   action           2012
3      4                            The Dark Knight   action           2008
4      5  Star Wars: Episode I - The Phantom Menace   action           1999
..   ...                                        ...      ...            ...
215  216                                   Hannibal    drama           2001
216  217                        Catch Me If You Can    drama           2002
217  218                                  Big Daddy    drama           1999
218  219                                      Se7en    drama           1995
219  220                                      Seven    drama           1979

     Rating
0       7.9
1       7.3
2       8.1
3       9.0
4       6.6
..      ...
215     6.7
216     8.0
217     6.4
218     8.6
219     6.1

[220 rows x 5 columns]