
Chapter 1: Introduction to Pandas

Date: 2025.01.14

Author: Jiyun Nam

Credit: codecademy

Learning Outcome
- Create a table from scratch
- Loading data from another file
- Selecting certain rows or columns of a table

1. Importing Pandas Modle

In [13]:
import pandas as pd

2. DataFrame 
- An object that stores data as rows and columns
- Able to manually create DataFrame and fill with data. 
- Can contain many different data types: strings, ints, foats, tuples, etc 

- pd.DataFrame() 
- Each key: column name
- Each value: list of column values

In [14]:
# Insert Data by Columns
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name' : ['t-shirt', 't-shirt', 'skirt', 'skirt'],
  'Color' : ['blue', 'green', 'red', 'black']
})

print(df1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black

In [15]:
# Insert Data by Rows
df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
  'Store ID', 'Location', 'Number of Employees'
  ])

print(df2)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

3. Comma Seperated Values (CSV) 

column1, column2, column3

value1, value2, value3

TextEditor -> make it plain text -> save it without any incoding -> title save as 'title.csv' -> automatically save as csv file

Thisis how CSV file look like:

name,cake_flavor,frosting_flavor,topping

Chocolate Cake,chocolate,chocolate,chocolate shavings

Birthday Cake,vanilla,vanilla,rainbow sprinkles

Carrot Cake,carrot,cream cheese,almonds

In [22]:
df = pd.read_csv('/Users/yun/Desktop/rider.csv')
print(df)

            City  Population  Median Age
0      Maplewood      100000          40
1          Wayne      350000          33
2  Forrest Hills      300000          35
3        Paramus      400000          55
4     Hackensack      290000          39

4. Inspect a DataFrame

In [29]:
# .head(n) - gives n rows of a DataFrame
print(df.head())

# .info() - gives statistic for each column
print(df.info())

            City  Population  Median Age
0      Maplewood      100000          40
1          Wayne      350000          33
2  Forrest Hills      300000          35
3        Paramus      400000          55
4     Hackensack      290000          39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        5 non-null      object
 1   Population  5 non-null      int64
 2   Median Age  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

5. Select Column

variable = dataframe.column_name

variable = datafame['column_name']

In [42]:
df1_color = df1.Color
print(type(df1_color))  #<class 'pandas.core.series.Series'>
print(type(df1))     #<class 'pandas.core.series.DataFrame'>

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

6. Select Multiple Column

variable = dataframe[['column1, column2]]

In [47]:
df1_productname_color = df1[['Product Name','Color']]
print(df1_productname_color)
print(type(df1_productname_color)) #<class 'pandas.core.frame.DataFrame'>

  Product Name  Color
0      t-shirt   blue
1      t-shirt  green
2        skirt    red
3        skirt  black
<class 'pandas.core.frame.DataFrame'>

7. Select Row 

variable = dataframe.iloc[n]

In [51]:
print(df1)
# Select 2nd row of df1 
green_t = df1.iloc[1]
print(green_t)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
Product ID            2
Product Name    t-shirt
Color             green
Name: 1, dtype: object

8. Select Multiple Row 

variable = dataframe.iloc[n:n+1]

In [53]:
print(df1)
# Select 2nd row of df1 
skirt = df1.iloc[2:]
print(skirt)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
   Product ID Product Name  Color
2           3        skirt    red
3           4        skirt  black

9. Select Row with Logic 1


variable = df[df.columname == desired_colum_value]

variable = df.query('column name' == 'desired value')

== exactly squal to one another 

!= not equal to 

'>' greater than 

< smaller than

& means 'and'

1. condition only in one column

In [62]:
#product Id is 2 
print(df1)

product_id_1 = df1[df1['Product ID'] == 1]
print(product_id_1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
   Product ID Product Name Color
0           1      t-shirt  blue

2. condition in multiple columns

In [66]:
pid1_cbue = df1[(df1['Product ID'] == 1) & (df1['Color'] == 'blue')]
print(pid1_cbue)

   Product ID Product Name Color
0           1      t-shirt  blue

3. conditionn in several rows in one column = isin method

In [74]:
#isin method 
product_12 = df1[df1['Product ID'].isin([1, 2])]
print(product_12)

color_bg = df1[df1['Color'].isin(['blue', 'green'])]
print(color_bg)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green

10. Setting indices

variable = dataframe.iloc[row, column] = select specific value in the row and column 

variable = dataframe.loc[number1, number2] = select specific row in the number1 and number2

variable = dataframe.reset_index(drop=True) = reest index 
OR dataframe.reset_index(inplace=True, drop=True)

In [90]:
print(df1)
first_row = df1.iloc[0, 2] #Select from Row 0, Column 2
print(first_row)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
blue

In [103]:
df1_2 = df1.loc[[1, 3]]
print(df1_2)
df1_3 = df1_2.reset_index(drop=True)
print(df1_3)
df1_2.reset_index(inplace=True, drop=True)
print(df1_2)

   Product ID Product Name  Color
1           2      t-shirt  green
3           4        skirt  black
   Product ID Product Name  Color
0           2      t-shirt  green
1           4        skirt  black
   Product ID Product Name  Color
0           2      t-shirt  green
1           4        skirt  black